name: Pylint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.12" ] # Use a single, specific Python version

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
          # INSTALL YOUR PROJECT DEPENDENCIES
          pip install -r server/requirements.txt 
          
      - name: Run Pylint on Django App
        # Run Pylint specifically on your project folders
        run: |
          pylint server/djangoproj server/djangoapp --fail-under=8 --disable=C0114,C0115,C0116,R0903
